@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body{
    background-color: rgba(155, 192, 180, 0.726);
    height: 100vh; 
    display: flex;
    /* padding-top: 140px;
    padding-left: 220px; */
    align-items: center;
    justify-content: center;
   
}
.article{
    display: flex;
    width: 900px;
    height: 350px;
    /* margin: 30px 40px; */
    /* align-items: center; */
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    /* margin-left: 220px;
    margin-right: 110px;
    transform: translatey(40%); */
      
}
.article img{
    width: 350px;
    height: 350px;
    display: block;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;

}

.article .content{
    /* padding: 20px; */
}

.article .content h1{
    font-size: 24px;
    padding: 10px;
    text-align: left;
    text-transform: capitalize;
}

.article .content p{
    font-size: 16px;
    padding: 10px;
    padding-bottom: 30px;
}

.content .bio{
    display: flex;
    padding-top: 25px;
    /* justify-content: space-between;
    align-items: center; */
    /* position: relative; */

}

.content .bio .left img{
    width: 50px;
    height: 50px;
    background-color: rgba(155, 192, 180, 0.726);
    padding: 4px;
    border-radius: 50%;
    object-fit: contain;
}

.content .bio .right img{
    width: 50px;
    height: 50px;
    background-color: rgba(155, 192, 180, 0.726);
    padding: 13px;
    border-radius: 50%;
    object-fit: contain;
}

.content .bio .left{
    display: flex;
    padding: 0 15px;
}

.content .bio .center{
    padding-right: 220px;
}



@media screen and (max-width: 850px) {
   .article {
    flex-direction: column;
    height: 700px;
   }
   .article img {
    height: 380px;
    width: 100%;
    object-fit: cover;
   }
   
   .content .bio{
   margin-bottom: 40px;
   }
} 



